.sub{
  color: violet;
  font-size: 22px;
}
.main{
  border: 1px solid violet;
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
  margin: 10px
}

.main_parrafo{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main_resultado{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid violet;
  width: 250px;
  height: 50px;
}

.main_boton{
  width: 150px;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}
.main_boton_num{
  width: 50px;
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.input1{
  width: 250px;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  margin-top: 20px;
}

.input2{
  width: 250px;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tarea{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  width: 280px;
  min-height: 40px;
  word-wrap: break-word;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 15px;
  flex-direction: column;
}

.p{
  color: black;
  font-size: 15px;
}